<!doctype html>
<html>
    <head>
    </head>
    <body>
        <section class="sides">
        <section class="middle" id="login">
            <form id="login_form" method="POST" action="{{ url_for('authenticate') }}">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" size="30" max="50">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" size="30" max="50">
                <input type="submit" name="Login">
            </form>
        </section>
        <section class="sides">
    </body>
</html>
