{% extends "base.html" %}
{% block page_title  %}GRFC - Login{% endblock %}
    {% block page_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    {% endblock %}
           {% block page_body %}
            <form id="login_form" method="POST" action="{{ url_for('authenticate') }}">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" size="30" max="50">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" size="30" max="50">
                <input type="submit" name="Login">
            </form>
            {% endblock %}
