_build/
.cache
__pycache__
.pytest_cache
*.swp
*.egg-info/
.coverage
htmlcov/
*/.project
*~
.ipynb_checkpoints/
.spyproject/
client_secret.json
credentials.json
.idea/
.directory
.elasticbeanstalk/
.project
**/.ropeproject/
dist/
*.csv
*.pkl
*.vim
misc/*.html
roster/*.html
report.html
